<div class="sixteen wide column centered row"> <!--debug with green-->
  <div class="basic segment deck-section">
    <div class="ui direction buttons deck-section">
      <button id="flip-left-button-<%= index %>" class="ui button" data-animation="flip" data-direction="left" title="Flip Left" data-content="Flip Left">
        <i class="add icon arrow left icon"></i>
      </button>
      <button id="flip-up-button-<%= index %>" class="ui button" data-animation="flip" data-direction="up" title="Flip Up">
        <i class="arrow up icon"></i>
      </button>
      <button id="flip-down-button-<%= index %>" class="ui button" data-animation="flip" data-direction="down" title="Flip down">
        <i class="arrow down icon"></i>
      </button>
      <button id="flip-right-button-<%= index %>" class="ui button" data-animation="flip" data-direction="right" title="Flip Right">
        <i class="arrow right icon"></i>
      </button>
    </div>
  </div> <!-- buttons deck-section-->
</div> <!-- column green -->
