<div class="ui basic container center aligned basic teal segment" id="deck-container">
  <h2 class="ui teal header"> Choose Your Adventure</h2>
    <p>
      Pick a flashcard deck to learn, recall or simply explore Chinese words.
    </p>

  <div class="ui three column centered grid">
    <% @decks.each do |deck| %>
    <div class="seven wide column centered row" id="landing-page-button">
        <%= link_to deck.name, flashcard_user_path(current_user, deck), class: "huge ui button teal" %>
    </div>
    <% end %>
  </div>
  <br>
</div>
