<div class="ui basic container center aligned basic teal segment" id="deck-container">

  <div class="ui people shape deck-section" id="flashcards">
    <div class="ui people shape">
      <div class="sides">
        <div class="active side">
          <div class="ui card">
            <div class="content">
              <div class="header"> <%= @word.simp %> </div>
              <div class="meta">
                <a> Select the correct pinyin </a>
              </div>
            </div>
          </div>
        </div>
        <div class="side">
          <div class="ui card">
            <div class="image">
              <img src="http://www.newyorker.com/wp-content/uploads/2014/08/Stokes-Hello-Kitty2-1200.jpg", width="500px">
            </div>
          </div>
        </div>
      </div><!--sides-->
    </div><!--people-->

  </div> <!--flashcards deck-section -->

  <div class="basic segments deck-section">
    <div class="ui icon direction buttons deck-section">
      <div id="left-button" class="ui button visible content" data-animation="flip" data-direction="left" title="Flip Left">
        <i class="long arrow left icon"> </i>
      </div>
      <div id="up-button" class="ui button" data-animation="flip" data-direction="up" title="Flip Up">
        <i class="long arrow up icon"> </i>
      </div>
      <div id="down-button" class="ui icon button" data-animation="down" data-direction="down">
        <i class="long arrow down icon"> </i>
      </div>
      <div id="right-button" class="ui icon button" data-animation="right" data-direction="right" title="Flip Right">
        <i class="long arrow right icon"> </i>
      </div>
    </div>
  </div> <!-- buttons deck-section-->

  <div class="ui divider"></div>

  <div class="deck-section">
    <div class="choice deck-section">
        <li id="correct-choice">
          <%= @word.pinyin %>
        </li>
    </div>
  </div><!--deck-section-->

</div>

<div class="ui container center aligned basic teal segment">
  <div id="overall progress tracker">
  <!-- report performance across decks -->
  Placeholder for chart
  </div>
</div>
