Hello world

<div class="container" id="deck">

  <div class="ui people shape" id="flashcards">
      <div class="ui people shape">
    <div class="sides">
      <div class="active side">
        <div class="ui card">
          <div class="content">
            <div class="header">词</div>
            <div class="meta">
              <a>pinyin here...maybe...could test this</a>
            </div>
          </div>
        </div>
      </div>
      <div class="side">
        <div class="ui card">
          <div class="image">
            <img src="http://www.newyorker.com/wp-content/uploads/2014/08/Stokes-Hello-Kitty2-1200.jpg", width="500px">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider">

  </div>

  <div class="ui icon direction buttons">
    <div class="ui button visible content" data-animation="flip" data-direction="left" title="Flip Left">
      <i class="long arrow left icon"> </i>
    </div>
    <div class="ui button" data-animation="flip" data-direction="up" title="Flip Up">
      <i class="long arrow up icon"> </i>
    </div>
    <div class="ui icon button" data-animation="down" data-direction="down">
      <i class="long arrow down icon"> </i>
    </div>
    <div class="ui icon button" data-animation="right" data-direction="right" title="Flip Right">
      <i class="long arrow right icon"> </i>
    </div>
  </div>


  </div>

  <div class="question">

  </div>

  <!-- want a progress bar for deck? -->
</div>

<div class="container" id="overall progress tracker">
<!-- report performance across decks -->
</div>
