<div class="tally ui basic container center aligned">
  Tally of correct answers: <a id="score"></a>
</div>

<div class="ui basic container center aligned basic teal segment" id="deck-container">

    <% @deck_words_per_page.each_with_index do |deck_word, index| %>
      <div class="ui three column centered grid">
        <%= render partial: "directional_buttons", locals: { index: index } %>

        <%= render partial: "card", locals: { index: index, deck_word: deck_word } %>

        <%= render partial: "submit_form", locals: {index: index, deck_word: deck_word, current_deck: current_deck } %>
      </div> <!-- grid -->
    <% end %> <!-- end iteration -->

</div> <!-- deck container-->

<div class="ui container center aligned basic teal segment" id="deck-stats">
  <%= render partial: 'scores_across_users_chart' %>
</div>   <!-- report performance across users for current deck -->
