<h2 class="ui teal header">
  Lingo App
</h2>

<div class="ui raised very padded container segment center aligned">
  <button class="massive ui facebook button">
    <i class="facebook link icon"></i>
    <%= link_to "Sign in with Facebook", facebook_login_path, id: "sign_in" %>
  </button>
</div>
