<div class="ui basic container segment">
  <h2 class="ui teal header">
  Lingo App
  </h2>
</div>

<div class="ui raised very padded container segment center aligned">
    <button class="massive ui about teal button">
      ?
    </button>

      then

    <button class="massive ui facebook button">
      <i class="facebook link icon"></i>
      <%= link_to "Sign in with Facebook", facebook_login_path, id: "sign_in" %>
    </button>
</div>

<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    What is Lingo App?
  </div>
  <div class="description">
    <p>
      Lingo App currently allows the advanced Chinese learner to practice or discover words. For the busy but ever inquisitive profesional, finding the discipline for language maintenance can be a struggle.
    </p>

    <p>
      But no fear! Have a little fun exploring Lingo App with its few touch points per flashcard to help facilitate word recall.
    </p>
    <p>
      This is just the early stages. More features are coming soon. Stay tuned.
    </p>
  </div>
</div>
